<footer class="bg-ff7-gradient text-white border border-white font-custom rounded-md h-100">
  <div class="container mx-auto flex justify-around py-2 items-center">
    
    <div class="mb-0">
      <img src="assets/images/w20studios.png" alt="W20 Studios" width="100" />
    </div>
    <p>©2023 Westley Twente, W20 Studios</p>
    <div class="flex">
      <a href="https://github.com/wtwente20" target="_blank" class="mr-4 hover:underline">
        <img src="assets/images/github.png" alt="Github" width="24" />
      </a>
      <a href="https://www.linkedin.com/in/westleytwente/" target="_blank" class="mr-4 hover:underline">
        <img src="assets/images/linkedin.png" alt="LinkedIn" width="24" />
      </a>
      <a href="https://www.instagram.com/pure_zerogravity/" target="_blank" class="mr-4 hover:underline">
        <img src="assets/images/instagram.svg" alt="Instagram" width="24" />
      </a>
      <a href="mailto:wtwente.dev@gmail.com" target="_blank" class="hover:underline">
        <img src="assets/images/email-icon.png" alt="Email me" width="24" />
      </a>
    </div>
  </div>
</footer>

