<div class="container mx-auto p-12">
  <h1 class="text-5xl font-bold text-white text-center mb-8">My Projects</h1>

  <div class="flex justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <!-- Software Development Card -->
      <div class="bg-ff7-gradient text-white border border-white font-custom rounded-md p-6">
        <h2 class="text-3xl font-bold mb-4">Software Development</h2>
        <p class="mb-4">From web to mobile apps, I build scalable and performant software.</p>
        <a class="custom-button hover:font-bold" routerLink="/projects/software">Learn More</a>
      </div>

      <!-- Digital Art Card -->
      <div class="bg-ff7-gradient text-white border border-white font-custom rounded-md p-6">
        <h2 class="text-3xl font-bold mb-4">Digital Art</h2>
        <p class="mb-4">Expressing creativity through digital mediums.</p>
        <a class="custom-button hover:font-bold" routerLink="/projects/digital-art">Learn More</a>
      </div>
    </div>
  </div>
</div>
